<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pbx-stats</display-name>
  <context-param>
    <param-name>appContext</param-name>
    <param-value>pbx-stats</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServletController</display-name>
    <servlet-name>MainServletController</servlet-name>
    <servlet-class>com.pbx_stats.MainServletController</servlet-class>
    <init-param>
      <param-name>rutaJSP</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServletController</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServletController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/pbx-stats</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>UsersServletController</display-name>
    <servlet-name>UsersServletController</servlet-name>
    <servlet-class>com.pbx_stats.UsersServletController</servlet-class>
    <init-param>
      <param-name>rutaJSP</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServletController</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PbxsServletController</display-name>
    <servlet-name>PbxsServletController</servlet-name>
    <servlet-class>com.pbx_stats.PbxsServletController</servlet-class>
    <init-param>
      <param-name>rutaJSP</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PbxsServletController</servlet-name>
    <url-pattern>/pbxs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsServletController</display-name>
    <servlet-name>ReportsServletController</servlet-name>
    <servlet-class>com.pbx_stats.ReportsServletController</servlet-class>
    <init-param>
      <param-name>rutaJSP</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsServletController</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.pbx_stats.InitConfig</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PdfServletController</display-name>
    <servlet-name>PdfServletController</servlet-name>
    <servlet-class>com.pbx_stats.PdfServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServletController</servlet-name>
    <url-pattern>/PdfServletController</url-pattern>
  </servlet-mapping>
</web-app>